<?xml version="1.0" encoding="UTF-8"?>
<config>
  <settings groupname="" grpiconfile="C:\Users\Bernard\Documents\Lazarus\ProgramGrpMgr\ProgramGrpMgrwin64.exe" grpiconindex="0" savsizepos="0" icondisplay="0" iconsort="0" miniintray="0" hideintaskbar="0" hidebars="0" wstate="0001010B03AA0130025C" nochknewver="0" startwin="0" langstr="9"/>
</config>
